
.buddy-list {
  @include windows-95-pane;

  width: 260px;
  height: 600px;

  display: flex;
  flex-flow: column;

  position: fixed;
}

.buddy-list-content {
  flex: 1;

  padding: 5px;

  display: flex;
  flex-flow: column;
}

.button-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  button {
    font-size: 13px;
  }
}

.channel-index {
  flex: 1;

  div {
    height: 50%;

    display: flex;
    flex-flow: column;

    ul {
      flex: 1;

      padding: 5px 8px;
      margin-bottom: 5px;

      @include text-input;

      overflow: scroll;

      li {
        cursor: pointer;

        &:hover {
          background-color: $square-title-logo-yellow;
        }
      }
    }
  }
}
