
.buddy-list {
  @include windows-95-pane;

  width: 260px;
  height: 600px;

  display: flex;
  flex-flow: column;

  position: fixed;
}

.buddy-list-content {
  flex: 1;

  padding: 5px;

  display: flex;
  flex-flow: column;
}

.button-row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  span {
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.channel-index {
  flex: 1;

  @include text-input;
  padding: 5px 8px;
  overflow: scroll;

  div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:hover {
      background-color: WhiteSmoke;
    }

    h1 {
      padding: 5px;
      cursor: pointer;
    }

    span {
      margin-right: 4px;

      a {
        margin-left: 10px;

        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul {
    margin-left: 20px;

    li {
      padding: 4px;

      display: flex;
      justify-content: space-between;

      cursor: pointer;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        background-color: WhiteSmoke;
      }
    }
  }
}

.square-title-logo-small {
  padding: 5px;

  display: flex;
  flex-flow: row;
  align-items: center;

  color: $square-title-logo-white;
  background-color: $square-title-logo-blue;

  img {
    margin: 5px;
    margin-left: 30px;
    width: 100px;
    height: auto;
  }

  h2 {
    font-size: 14px;
  }
}
