$window-width: 350px;
$window-padding: 5px;
$window-content-padding-vert: 5px;
$window-content-padding-horz: 10px;

.chat-window {
  width: $window-width;
  padding: $window-padding;

  position: fixed;

  display: flex;
  flex-flow: column;

  @include windows-95-pane;
}

.chat-window-content {
  flex: 1;

  display: flex;
  flex-flow: column;

  padding: $window-content-padding-vert $window-content-padding-horz;

  box-sizing: border-box;

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin: 5px;
    }
  }

  textarea {
    @include font-times;
    font-size: 15px;
  }
}

.message-stream-window {
  @include text-input;
  padding: 5px 8px;
  overflow: scroll;
  height: 180px;

  @include font-times;
  font-size: 15px;

  li {
    font-weight: 100;

    .ownUser-message {
      color: blue;
    }

    .foreignUser-message {
      color: red;
    }

    span {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
