.chat-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  // Buddy List
  section:first-child {
    margin: auto 60px;
  }

  // Chat windows
  section:last-child {
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
