$window-width: 350px;
$window-padding: 5px;
$window-content-padding-vert: 5px;
$window-content-padding-horz: 10px;

.chat-window {
  width: $window-width;

  padding: $window-padding;

  display: flex;
  flex-flow: column;

  @include windows-95-pane;

  margin-bottom: 50px;
}

.chat-window-content {
  flex: 1;

  display: flex;
  flex-flow: column;

  padding: $window-content-padding-vert $window-content-padding-horz;

  box-sizing: border-box;

  ul {
    @include text-input;
    padding: 5px 8px;
    overflow: scroll;
    height: 180px;

    li {
      font-family: serif;

      .ownUser-message {
        color: blue;
      }

      .foreignUser-message {
        color: red;
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin: 5px 5px;
    }
  }
}
