
.add-channel {
  @include windows-95-pane;
  box-sizing: border-box;
  width: 225px;
  height: 300px;

  display: flex;
  flex-flow: column;

  .add-channel-content {
    flex: 1;
    padding: 5px;

    display: flex;
    flex-flow: column;

    input {
      width: 100%;
      margin-bottom: 5px;
    }

    ul {
      @include text-input;
      flex: 1;

      padding: 5px 8px;
      overflow: scroll;

      li {
        cursor: pointer;

        &:hover {
          background-color: $square-title-logo-yellow;
        }
      }
    }
  }
}
