
.add-channel {
  @include windows-95-pane;
  box-sizing: border-box;
  width: 225px;
  height: 300px;

  position: fixed;

  display: flex;
  flex-flow: column;

}

.add-channel-content {
  flex: 1;
  padding: 5px;

  display: flex;
  flex-flow: column;

  input {
    width: 100%;
    margin-bottom: 5px;
  }

  ul {
    @include text-input;
    flex: 1;

    padding: 5px 8px;
    overflow: scroll;

    li {
      cursor: pointer;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: baseline;

      padding: 0px 5px;

      &:hover {
        background-color: WhiteSmoke;
      }

      &:first-of-type {
        background-color: WhiteSmoke;
      }

      button {
        border: none;
        box-shadow: none;
        background-color: transparent;
        color: $link-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
