$link-color: blue;

$input-box-background: white;

$button-shading: #202020;

$pane-edge-border: darkgray;
$pane-edge-shadow: #707070;

$desktop-green: #00807F;
$ui-gray: #C0C0C0;

$title-bar-text: white;
$mid-title-bar-gradient: #073E9E;
$title-bar-gradient-left: #08008E;
$title-bar-gradient-right: #75B3D3;

$square-title-logo-blue: #095FA8;
$square-title-logo-white: white;
