// Panes and inset/outset
$pane-gray: #D4D0C9;
$input-background: white;

$outset-dark-shadow: #404040;
$outset-light-shadow: #808080;
$outset-white: white;

$inset-light-shadow: #808080;
$inset-dark-shadow: black;
$inset-white: white;

$hr-dark-shadow: #808080;
$hr-light-shadow: #FFFFFF;

// Desktop color
$desktop-green: #00807F;

// Title bars
$title-bar-text: #FEFEFE;
$title-bar-gradient-left: #08008E;
$title-bar-gradient-right: #75B3D3;

// Text
$link-color: blue;

// Specific stuff
$square-title-logo-blue: #095FA8;
$square-title-logo-white: #FEFEFE;
$square-title-logo-yellow: #FDEC54;

$screenname-font: #2D2E5F;
