
html,
body,
#root
{
  height: 100%;
  width: 100%;

  @include font-sans-serif;
  font-size: 13px;
  font-weight: bolder;
}

body {
  background-color: $desktop-green;
}

a {
  color: $link-color;
  text-decoration: underline;
}

header.title-bar {
  padding: 3px 7px;

  @include title-bar-colors;

  @include font-times;
  font-size: 14px;
  font-weight: normal;

  cursor: default;
}

header.title-bar-with-exit {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  button {
    padding: 0px 3px;
    margin-right: -4px;

    color: black;

    @include font-sans-serif;

    img {
      width: 8px;
    }
  }
}

hr.hr-divider {
  margin: 2.5px 0;

  border-top: 1px solid $hr-dark-shadow;
  border-bottom: 1px solid $hr-light-shadow;
}

input {
  height: 24px;

  padding-left: 5px;

  @include text-input;
}

textarea {
  padding: 5px 8px;
  @include text-input;
  resize: none;
}

button {
  padding: 4px 6px;
  @include windows-95-pane;

  &:active {
    @include windows-95-inset;
  }

  &:focus {
    background-color: #808080;
  }
}
