
html,
body,
#root
{
  height: 100%;
  width: 100%;
}

body {
  background-color: $desktop-green;

  font-family: sans-serif;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: underline;
}

input {
  height: 24px;

  padding-left: 5px;

  font-weight: normal;
  background-color: $input-box-background;

  border: 0.5px solid $pane-edge-border;
  box-shadow: 1px 1px 0px 1px $pane-edge-shadow inset;
}

button {
  padding: 4px 6px;

  box-shadow: -1px -1px 1px 1px $button-shading inset;
}
