
html,
body,
#root
{
  height: 100%;
  width: 100%;
}

body {
  background-color: $desktop-green;

  font-family: sans-serif;
}

a {
  color: $link-color;
  text-decoration: underline;
}

header.title-bar {
  padding: 3px 7px;

  @include title-bar-colors;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
}

hr.hr-divider {
  margin-top: 5px;

  border-top: 1px solid $hr-dark-shadow;
  border-bottom: 1px solid $hr-light-shadow;
}

input {
  height: 24px;

  padding-left: 5px;

  @include text-input;
}

textarea {
  padding: 5px 8px;
  @include text-input;
}

button {
  padding: 4px 6px;
  @include windows-95-pane;

  &:active {
    @include windows-95-inset;
  }
}
