@mixin windows-95-outset {
  border-top: 1px solid $pane-gray;
  border-left: 1px solid $pane-gray;

  border-right: 1px solid $outset-dark-shadow;
  border-bottom: 1px solid $outset-dark-shadow;

  box-shadow: inset 1px 1px $outset-white, inset -1px -1px $outset-light-shadow;
}

@mixin windows-95-pane {
  background-color: $pane-gray;
  @include windows-95-outset;

  padding: 5px;
}

@mixin gradient-background($left, $right) {
  background: $right; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $left , $right); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $left, $right); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $left, $right); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $left , $right); /* Standard syntax */
}

@mixin blue-white-background {
  @include gradient-background($title-bar-gradient-left, $title-bar-gradient-right);
}

@mixin title-bar-colors {
  color: $title-bar-text;
  @include blue-white-background;
}

@mixin windows-95-inset {
  border-top: 1px solid $inset-light-shadow;
  border-left: 1px solid $inset-light-shadow;

  border-right: 1px solid $inset-white;
  border-bottom: 1px solid $inset-white;

  box-shadow: inset 1px 1px $inset-dark-shadow, inset -1px -1px $pane-gray;
}

@mixin text-input {
  background-color: $input-background;
  @include windows-95-inset;
}
