$pane-width: 250px;
$pane-padding: 5px;
$pane-content-padding-vert: 5px;
$pane-content-padding-horz: 10px;
$square-title-width: $pane-width - $pane-padding - $pane-content-padding-horz - 30px;
$content-spacing: 10px;

.session-main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: $pane-width;

    padding: $pane-padding;

    display: flex;
    flex-flow: column;

    @include windows-95-pane;
  }
}

.session-form-content {
  flex: 1;

  padding: $pane-content-padding-vert $pane-content-padding-horz;

  font-size: 13;

  fieldset {
    margin-bottom: $content-spacing;

    display: flex;
    flex-flow: column;

    box-sizing: border-box;

    label {
      font-family: arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
    }

    input {
      width: 100%;
    }

    .links {
      font-size: 13px;

      a {
        margin-right: 7px;
        cursor: pointer;
      }
    }

    ul {
      font-weight: normal;
      font-size: 11px;

      li {
        margin-bottom: 3px;
      }
    }
  }
}

.square-title-logo {
  padding: 5px;
  margin-bottom: $content-spacing;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  color: $square-title-logo-white;
  background-color: $square-title-logo-blue;

  img {
    margin: 20px 3px;
    width: 160px;
    height: auto;
  }

  h2 {
    font-size: 19px;
  }
}

.screenname {
  font-style: italic;
  color: $screenname-font;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
